.card-product-carousel {
  background-origin: border-box;
  border-radius: 16px;
  border: none;
  /* width: 97px; */
  width: 100%;
  height: 114px;
  background-size: 200%;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.4px;
  padding: 8px;
  transform: all 0.5s ease;
}

.card-product-carousel > p {
  width: 81px;
}
