/* Базовые переменные (светлая тема) */
:root {
  --bg: #ffffff;
  --text: #5F5F5F;
  --heading: #414141;
}

/* Тёмная тема */
[data-theme="dark"] {
  --bg: #1B1C1C;
  --text: #fff;
  --heading: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 1px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 17px 0px 17px;
  flex-direction: column;
  background-color: #ffffff;
  font-style: medium;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: 16px;
  letter-spacing: -0.4px;
  gap: 20px;
  padding-bottom: 11vh;
}
