/* Базовые переменные (светлая тема) */
:root {
  --bg: #ffffff;
  --text: #5f5f5f;
  --heading: #414141;
  --inp-b: #f8f8f8;
  --sec: #fff;
  --icon: #5f5f5f;
  --border: #f2f2f2;
  --hh: #2f2f2f;
}

/* Тёмная тема */
[data-theme="dark"] {
  --bg: #1b1c1c;
  --text: #9fa5b2;
  --heading: #2caeff;
  --inp-b: #2c2c2e;
  --sec: #333333;
  --icon: #fff;
  --border: #5f5f5f;
  --hh: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: color, background, background-color, filter 0.5s ease;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-style: medium;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 17px 0px 17px;
  flex-direction: column;
  background-color: var(--bg);
  line-height: 16px;
  letter-spacing: -0.4px;
  gap: 20px;
  padding-bottom: 150px;
}
