/* From Uiverse.io by LightAndy1 */
.search-group {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 85%;
  margin-right: auto;
}

.search-input {
  width: 100%;
  height: 45px;
  padding: 12px;
  padding-left: 44px;
  border: 1px solid var(--border);
  border-radius: 12px;
  background-color: var(--bg);
  outline: none;
  color: #bdbecb;
  transition: all 0.5s ease;
  cursor: text;
  z-index: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.search-input::placeholder {
  color: #c6c6c6;
}

.search-input:focus {
  border: 1px solid #5f5f5f;
  color: var(--text);
}

.search-icon {
  position: absolute;
  left: 12px;
  fill: var(--icon);
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 1;
}

.favorites {
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 12px;
  gap: 8px;
  position: relative;
}

.search {
  display: flex;
  width: 100%;
}

.notif {
  position: absolute;
  border-radius: 100px;
  padding: 4px;
  gap: 10px;
  min-width: 24px;
  background-color: #46b0fb;
  color: #fff;
  left: -0.6rem;
  top: -0.6rem;
  font-size: 10px;
  letter-spacing: 0px;
  text-align: center;
  animation: fadeIn 0.5s ease-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.none {
  display: none;
}
